.product:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.product-link {
    color: #000 !important;
    text-decoration: none;
}

.status-pending {
    background-color: #fff3cd;
}

.status-completed {
    background-color: #d4edda;
}

.status-cancelled {
    background-color: #f8d7da;
}